.social>ul>li{
    padding: 0px 10px;
list-style-type: none;
display: inline-block;
}
i{
    color: white;
}
.main1{
    /* display: flex; */
    /* align-items: center; */
    background-color: #316dc3;
    /* margin: -10px; */
}
.div2>p{
    color: white;
}
/* div.div2{
    margin: 0px auto
    
} */
div.div3button>ul>li{
    /* margin: 0px auto; */
    padding:auto ;
    /* color: #42792d; */
    background-color: #f5f5f5;
    list-style: none;
    display: inline-block;
}
.div3button>a{
    text-align: center;
    margin: 0 auto;
    color: #42792d;

}
.main22>ul>li{
    list-style: none;
    display: inline-block;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.active,ul li:hover{
    background-color:#316dc3 ;
    border-radius: 10px;
}
.llll{
    width: 100%;

}
.llll>img{
    width: 100%;
}
.moveline{
    width: 80%;
    padding-top: 1px;
}
.what{
    font-family: serif;
    font-weight: bold;
    margin-top: 70px;
}
.one,.two,.three{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}